## 'Boolean' type: True or False - Immutable

In [1]:
raining_today = False

In [2]:
raining_today

False

In [3]:
type(raining_today)

bool

In [4]:
raining_today = True

In [5]:
print(raining_today)

True

In [6]:
type(raining_today)

bool

## 'Integer' type: negative and positive whole numbers - Immutable

In [7]:
student_count = 74

In [8]:
print(student_count)

74

In [9]:
type(student_count)

int

In [10]:
student_count = student_count + 5

In [11]:
print(student_count)

79

## 'Float' type: negative and positive real numbers - Immutable

In [12]:
stock_price = 145.25

In [13]:
print(stock_price)

145.25

In [14]:
type(stock_price)

float

## 'String' type: sequence of characters - Immutable

In [15]:
current_status = 'All good!'

In [16]:
print(current_status)

All good!

In [17]:
type(current_status)

str

## 'List' type: sequence or collection of heterogeneous items - Mutable

In [18]:
student_names = ['Abhinay', 'Adi', 'Akshay']

In [19]:
print(student_names)

['Abhinay', 'Adi', 'Akshay']

In [20]:
type(student_names)

list

In [21]:
list_of_some_things = [1, 10 ,25.5, 'Akshay', True]

In [22]:
print(list_of_some_things)

[1, 10, 25.5, 'Akshay', True]

In [23]:
type(list_of_some_things)

list

In [24]:
list_of_variables = [raining_today, student_count, stock_price, current_status]

In [25]:
print(list_of_variables)

[True, 79, 145.25, 'All good!']

In [26]:
type(list_of_variables)

list

## 'Tuple' type: sequence or collection of heterogeneous items - Immutable

In [27]:
cities_to_visit = ('New York City', 'Boston')

In [28]:
print(cities_to_visit)

('New York City', 'Boston')

In [29]:
type(cities_to_visit)

tuple

In [30]:
tuple_of_variables = (raining_today, student_count, stock_price, current_status)

In [31]:
print(tuple_of_variables)

(True, 79, 145.25, 'All good!')

In [32]:
type(tuple_of_variables)

tuple